<div class="container">
  <div class="row">
    <%= simple_form_for @thank do |t| %>
      <%= t.input :text, placeholder: 'many things', label: 'I am thankful for ' %>
      <%= t.button :submit %>
    <% end %>
  </div>
</div>
