<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<h3> My Thanks </h3>
<% @thanks.reverse_each do |thank| %>
  <p> <%=current_user.name %> is thankful for <%= thank.text %></p>
<% end %>